.header {
  position: relative;
  width: 100vw;
  height: 30px;
  background-color: #f86953;
}

@media (min-width: 500px) {
  .header {
    height: 50px;
  }
}

h1 {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.logo {
  position: absolute;
  padding-top: 12px;
  padding-left: 10px;
  z-index: 1;
  width: 80px;
}

@media (max-width: 500px) {
  .logo {
    width: 50px;
    padding-top: 8px;
  }
}

.first-logo {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.first-logo img:hover {
  color: #fee275;
}

.box {
  display: flex;
  justify-content: end;
}

.language {
  font-family: "Satoshi";
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
  padding-top: 16px;
  color: white;
}

@media (max-width: 500px) {
  .language {
    padding-top: 10px;
    font-size: 10px;
  }
}

a {
  text-decoration: none;
}

.logo-moto {
  position: relative;
  font-size: 24px;
  font-family: "Satoshi";
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.logo-moto h1 {
  padding: 20px;
}

@media (min-width: 1348px) {
  .header-img {
    width: 100vw;
  }
}
