.l-peach {
  background: url(../img/peches.svg);
}

.l-quinine {
  background: url(../img/quinine.svg);
}

.l-citron {
  background: url(../img/citron-the.svg);
}

.l-lime {
  background: url(../img/lime-girofle.svg);
}

.l-ginger {
  background: url(../img/gingers.svg);
}

.header-img {
  background: url(../img/311788591_626064969214372_6521142441886831128_n.jpg);
}
