.l-peach {
  background: url(../img/peches.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.l-quinine {
  background: url(../img/quinine.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 380px;
}

@media (max-width: 990px) {
  .l-quinine {
    background: url(../img/quinine.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 380px;
  }
}

.l-citron {
  background: url(../img/citron-the.svg);
  background-repeat: no-repeat;
}

.l-lime {
  background: url(../img/lime-girofle.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.l-ginger {
  background: url(../img/gingers.svg);
  background-repeat: no-repeat;
}
